[Unit]
Description=Machine Image Uploader Worker
After=network-online.target server.service
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/opt/machine-image-uploader
Environment=MIUS_SERVER_CONFIG=/opt/machine-image-uploader/server-config.json
ExecStart=/usr/bin/python3 -m worker
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
